{% extends "layout.html" %}

{% block content %}


<link rel="stylesheet" type="text/css" href="/static/js/wavesurfer/ribon.css" />
<link rel="stylesheet" type="text/css" href="/static/js/wavesurfer/style.css" />
<style>
.rounded-circle{
    border-radius:50%;
}
@font-face{
 font-family:'digital-c';
 src: url('/static/css/ds_digital/DS-DIGII.TTF');
}
.dc{
    font-family: digital-c;
}
.pc{
    color:#E22867;
}
.gc{
    color: lightgray;
}
</style>
<br/>
<div class="container">

        <div clas="row">
            <div class="col-md-9">
                <h3>PATIENT DASHBORD</h3>
            </div>
            <div class="col-md-3 left"></div>
        </div>
        <div clas="row">
            <div class="col-md-4">
                    Pic
            </div>
            <div class="col-md-8">
                <div class="row">
                        <div class="col-md-2">
                                <div >
                                        <button class="btn btn-primary rounded-circle" onclick="javascript:document.querySelector('#input_file').click();"><span>s</span></button>
                                        <input type="file" onchange="uploadFile(this.files[0])" class="form-control" id="input_file" style="visibility: hidden;">
                                </div>
                                <div >
                                    <button onclick="pp()" class="btn btn-primary rounded-circle">
                                            <i class="glyphicon glyphicon-play"></i>
                                    </button>
                                </div>
                        </div>
                        <div class="col-md-10">
                                <div id="waveform"></div>
                        </div>
                </div>
            </div>
        </div>
        <br\>
        <!-- Results-->
        <div clas="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <H1 class="dc pc">
                                28.40
                            </H1>
                        </div>
                        <div class="col-md-6">
                            <div class="dc pc">BMI</div>
                            <div class="gc">overwait</div>
                        </div>
                    </div>
                    <div class="row gc">
                        <div class="col-md-6">Male</div>
                        <div class="col-md-6">64 ears</div>
                    </div>
        
                </div>
                <div class="col-md-8">
                        <div class="row">
                                <div class="col-md-5 dc pc">
                                    <button class="btn rounded-circle" style="width: 165px;height: 165px;">
                                        <div><h3>75</h3></div>
                                        <div>vitality</div>
                                        <div><small>vocal biomarcer score</small></div>
                                        <img src="">
                                    </button>
                                </div>
                                <div class="col-md-7">
                                    <div class="row pc">
                                        <div class="col-md-7">
                                            <div>CHF</div>
                                            <div>vocal biomarcer score</div>
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn"><span>YES</span></button>
                                        </div>
                                    </div>
                                    <div class="row gc">
                                            <div class="col-md-7">
                                                <div>COPD</div>
                                                <div>vocal biomarcer score</div>
                                            </div>
                                            <div class="col-md-5">
                                                <button class="btn"><span>NO</span></button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                </div>
        </div>
        
       



        <form id="form" class="form-horizontal">
            <div class="form-group">
                <label for="input_file" class="col-sm-2 control-label">Input File</label>
                <div class="col-sm-10">
                    
                </div>
            </div>
            <div class="form-group">
                <div id="waveform"></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submit" type="submit" class="btn btn-default">Start</button>
                    <button id="play" type="button"  data-action="play" onclick="pp()" class="btn btn-default"><!--   -->
                         <i class="glyphicon glyphicon-play"></i>
                        Play
                        /
                        <i class="glyphicon glyphicon-pause"></i>
                        Pause
                    </button>
                </div>
            </div>
        </form>

        <div class="panel panel-default">
            <div class="panel-heading">Progress</div>
            <div class="panel-body">
                <ul id="progress"></ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Finish</div>
            <div class="panel-body">
                <ul id="finish"></ul>
            </div>
        </div>
    </div>



{% endblock %}
{% block scripts %}
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/wavesurfer/wavesurffull.js"></script>
<script src="/static/js/wavesurfer/wavesurfer.regions.js"></script>

<script type="text/javascript">
        if (window.File && window.FileReader && window.FileList && window.Blob)
        {
            console.log("This browser confirm window.File && window.FileReader !!!");
        }
        else
        {
            alert('The File APIs are not fully supported in this browser.');
        }
        options = {
            url: {
                tokenUrl: '/token',
                serverUrl: '/file'
            },

            interval: 0,
        };

        var wavesurfer;
        function pp(){
            //wavesurfer.play();
            wavesurfer.playPause();
            var a =document.querySelector('audio');
        }
        function initwave(){
            wavesurfer = WaveSurfer.create({
                container: document.querySelector('#waveform'),
                waveColor: '#467AB4',
                progressColor: '#E22867',
                backend: 'MediaElement'
            });


        }

        $(function ()
        {
            initwave();

            // $("#form").validate({
            //     submitHandler: function (form)
            //     {
            //         $("#submit").attr("disabled", true).text("Analyze...");
            //         $('#progress').html('');
            //         $('#finish').html('');
            //         options.interval = 0;


            //         // Load audio from URL
            //         //wavesurfer.load('static/female.wav');
            //         wavesurfer.load(URL.createObjectURL(form[0].files[0]));

            //         //document.querySelector('[data-action="play"]').addEventListener('click', pp());
            //         //document.querySelector('[data-action="play"]').addEventListener('click', wavesurfer.playPause.bind(wavesurfer));

            //        // wavesurfer.on('ready', function () {
            //        //     wavesurfer.play();
            //        // });


            //         console.info('-------------------');
            //         uploadFile(form[0].files[0]);
            //     }
            // });
        });
        function uploadFile(file)
        {
            wavesurfer.load(URL.createObjectURL(file));
            //var file = document.querySelector('form')[0].files[0];
            if (typeof FileReader !== "undefined")
            {
                var reader = new FileReader();
                reader.onload = function (e)
                {
                    analyzeFile(e.target.result);
                };
                reader.readAsArrayBuffer(file);
            }

        }
        
        function analyzeFile(content)
        {
            $.ajax({
                url: options.url.serverUrl,
                //headers: { 'Authorization': "Bearer " + options.token },
                data: content,
                contentType: 'application/json',
                processData: false,
                cache: false,
                dataType: 'json',
                type: "POST"
            })
            .done(function (res) {
                Show(res);
                $("#submit").attr("disabled", false).text("Start");

            })
            .fail(function (data) {
                ShowFinish(data);
            });
        }
        function Show(json)
        {
            $('#progress').append("<li>" + JSON.stringify(json) + "</li>");
        }
        function ShowFinish(json)
        {
            $('#finish').append("<li>" + JSON.stringify(json) + "</li>");
        }
    </script>


{% endblock %}


