{% extends "layout.html" %}

{% block content %}


<link rel="stylesheet" type="text/css" href="/static/js/wavesurfer/ribon.css" />
<link rel="stylesheet" type="text/css" href="/static/js/wavesurfer/style.css" />

<style>


</style>
<div class="container">
    <br/>
        <h1>Chart</h1>


        <hr />
    <div id="chart_div"></div>

    <div id="lbl" ></div>


</div>



{% endblock %}
{% block scripts %}

<script src="/static/js/googlecharts/loader.js"></script>

<script type="text/javascript">

    //google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Y');

      data.addRows([
        [0.01,0.1],
        [0.02,0.1414],
        [0.03,0.1732],
        [0.04,0.2],
        [0.05,0.2236],
        [0.06,0.2449],
        [0.07,0.2646],
        [0.08,0.2828],
        [0.09,0.3],
        [0.1,0.3162],
        [0.11,0.3317],
        [0.12,0.3464],
        [0.13,0.3606],
        [0.14,0.3742],
        [0.15,0.3873],
        [0.16,0.4],
        [0.17,0.4123],
        [0.18,0.4243],
        [0.19,0.4359],
        [0.2,0.4472],
        [0.21,0.4583],
        [0.22,0.469],
        [0.23,0.4796],
        [0.24,0.4899],
        [0.25,0.5],
        [0.26,0.5099],
        [0.27,0.5196],
        [0.28,0.5292],
        [0.29,0.5385],
        [0.3,0.5477],
        [0.31,0.5568],
        [0.32,0.5657],
        [0.33,0.5745],
        [0.34,0.5831],
        [0.35,0.591],
        [0.36,0.6],
        [0.37,0.6083],
        [0.38,0.6164],
        [0.39,0.6245],
        [0.4,0.6325],
        [0.41,0.6403],
        [0.42,0.6481],
        [0.43,0.6557],
        [0.44,0.6633],
        [0.45,0.6708],
        [0.46,0.6782],
        [0.47,0.6856],
        [0.48,0.6928],
        [0.49,0.7],
        [0.5,0.7071],
        [0.51,0.7141],
        [0.52,0.7211],
        [0.53,0.728],
        [0.54,0.7348],
        [0.55,0.7416],
        [0.56,0.7483],
        [0.57,0.755],
        [0.58,0.7616],
        [0.59,0.7681],
        [0.6,0.77],
        [0.61,0.78],
        [0.62,0.7874],
        [0.63,0.7937],
        [0.64,0.8],
        [0.65,0.8062],
        [0.66,0.8124],
        [0.67,0.8185],
        [0.68,0.8246],
        [0.69,0.8307],
        [0.7,0.8367],
        [0.71,0.8426],
        [0.72,0.8485],
        [0.73,0.8544],
        [0.74,0.8602],
        [0.75,0.866],
        [0.76,0.8718],
        [0.77,0.8775],
        [0.78,0.8832],
        [0.79,0.8888],
        [0.8,0.8944],
        [0.81,0.9],
        [0.82,0.9055],
        [0.83,0.911],
        [0.84,0.9165],
        [0.85,0.922],
        [0.86,0.9274],
        [0.87,0.9327],
        [0.88,0.9381],
        [0.89,0.9434],
        [0.9,0.9487],
        [0.91,0.9539],
        [0.92,0.9592],
        [0.93,0.9644],
        [0.94,0.9695],
        [0.95,0.9849],
        [0.96,0.9798],
        [0.97,0.9747],
        [0.98,0.9899],
        [0.99,0.995],
        [1,1]
      ]);

      var options = {
        title: 'Adjust the threshold',
        subtitle: 'BVC chart',
        width: 'auto',
        height: 600,
        colors:['#ec1a72'],
        tooltip:{
          //isHtml:true
        },
        // crosshair:{
        //   color:'#1aec36',
        //   focused: { color: '#1aec36', opacity: 0.3 },
        //   selected: { color: '#3ba', opacity: 0.1 }
        // },
        animation:{
            duration: 1000,
            easing: 'out',
        },
        hAxis: {
          title: 'False Positive'
        },
        vAxis: {
          title: 'True Positive'
        },
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      //var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

      function selectHandler() {
          // var selectedItem = chart.getSelection()[0];
          // if (selectedItem && selectedItem.row) {
          //   var topping = data.getValue(selectedItem.row, 1);
          //   var nv = topping +5 ;
          //   data.setValue(selectedItem.row,1,  nv);
          //   Drow();
          //   //alert('The user selected ' + topping);
          // }
        }
      google.visualization.events.addListener(chart, 'select', selectHandler);
      google.visualization.events.addListener(chart, 'onmouseover', function(e) {
        var val = data.getValue(e.row,e.column);
        $("#lbl").html(JSON.stringify(val));
      });

      function Drow(){
            chart.draw(data, options);
      }

      Drow();
    }

</script>


{% endblock %}


