{% extends "layout.html" %}

{% block content %}


<link rel="stylesheet" type="text/css" href="/static/js/wavesurfer/ribon.css" />
<link rel="stylesheet" type="text/css" href="/static/js/wavesurfer/style.css" />
<div class="container">
    <br/>
        <h1>Chart</h1>
        <hr />
    <div id="chart_div"></div>




</div>



{% endblock %}
{% block scripts %}

<script src="/static/js/googlecharts/loader.js"></script>

<script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'score');
      data.addColumn('number', 'hospitalization days');


      data.addRows([
        [new Date(2014, 1, 1),50,18],
        [new Date(2014, 3, 3),70,24],
        [new Date(2014, 6, 6),90,29],
        [new Date(2014, 9, 9),88,27],
        [new Date(2014, 12, 12),33,12],
      ]);

      var options = {
        title: 'BioMarker Score -Hospitalization Days',
        subtitle: 'in millions of dollars (USD)',
        width: 'auto',
        height: 600,
        animation:{
            duration: 1000,
            easing: 'out',
          },
        hAxis: {
          title: 'Date'
        },
        vAxis: {
          title: 'Hospitalization Days'//,minValue:0, maxValue:1000
        },
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));


      function selectHandler() {
          var selectedItem = chart.getSelection()[0];
          if (selectedItem && selectedItem.row) {
            var topping = data.getValue(selectedItem.row, 1);
            var nv = topping +5 ;
            data.setValue(selectedItem.row,1,  nv);
            Drow();
            //alert('The user selected ' + topping);
          }
        }
      google.visualization.events.addListener(chart, 'select', selectHandler);
      function Drow(){


            chart.draw(data, options);
      }

      Drow();
    }

</script>


{% endblock %}


